body{
    background-color: #ececec;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}
a{
    text-decoration: none;
    color: blue;
}
ul{
    /* border: 2px red solid;
    border-radius: 50%; */
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: visible;
}
li{
    margin: 10px;
}
img{
    width: 237px;
    height: 210px;
}