.fill{
    top: calc(5px + 750px - 40px - 30px - 50px);
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin: 0;
}
.fill::-webkit-slider-runnable-track{
    background-color: black;
    height: 40px;
    border-radius: 10px;
    overflow: hidden;
}
.fill::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 0px;
    width: 0px;
    margin-top: -10px;
    background-color: transparent;
}
#j1{
    left: calc(5px + 500px - 100px + calc((100px - 40px) / 2 ) - 10px - 30px - 20px - 200px);
}
#j1::-webkit-slider-thumb{
    box-shadow: -500px 0 0 500px red;
}
#j2{
    left: calc(5px + 500px - 100px + calc((100px - 40px) / 2 ) - 10px - 30px - 20px - 150px);
}
#j2::-webkit-slider-thumb{
    box-shadow: -500px 0 0 500px yellow;
}
#j3{
    left: calc(5px + 500px - 100px + calc((100px - 40px) / 2 ) - 10px - 30px - 20px - 100px);
}
#j3::-webkit-slider-thumb{
    box-shadow: -500px 0 0 500px blue;
}
#o1{
    left: calc(5px + 500px - 100px + calc((100px - 40px) / 2 ) - 10px - 30px - 20px - 50px);
}
#o1::-webkit-slider-thumb{
    box-shadow: -500px 0 0 500px red;
}
#o2{
    left: calc(5px + 500px - 100px + calc((100px - 40px) / 2 ) - 10px - 30px - 20px);
}
#o2::-webkit-slider-thumb{
    box-shadow: -500px 0 0 500px yellow;
}
#o3{
    left: calc(5px + 500px - 100px + calc((100px - 40px) / 2 ) - 10px);
}
#o3::-webkit-slider-thumb{
    box-shadow: -500px 0 0 500px blue;
}