body{
    margin: 50px;
    font-family: 'ONE Font';
    font-size: 6vh;
}
.container{
    text-align: center;
    padding: 10px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}
p{
    font-size: 150%;
    mark{
        background-color: transparent;
    }
    #yellow{
        background-color: #ffd97f;
    }
    #blue{
        background-color: #7f7fb2;
    }
    #red{
        background-color: #ff7f7f;
    }
}
@font-face{
    font-family: ONE Font; src: url('./font/AmaticSC-Regular.ttf');
}