html,body{
    cursor: help;
}
body{
    font-size: 6vw;
    font-family: 'ONE Font';
}
h1{
    font-weight: normal;
    text-underline-offset: 1vw;
    text-decoration: underline;
    text-decoration-style:double;
    text-decoration-thickness: 2px;
}
.container{
    margin: 10vh 10vw;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	text-align: center;
	padding: 10px;
}
p{
    font-size: 150%;
    mark{
        background-color: transparent;
    }
    #yellow{
        background-color: #ffd97f;
    }
    #blue{
        background-color: #7f7fb2;
    }
    #red{
        background-color: #ff7f7f;
    }
}
@font-face{
    font-family: ONE Font; src: url('./font/AmaticSC-Regular.ttf');
}