body{
	font-size: 25;
	background-color: #000000;
	font-family: 'Courier New', monospace;
	margin: 50px;
	color: #006432;
}
h1{
	font-size:30;
	small{
		font-size:20;
	}
}
img{
	height: 200px;
}
#gallery{
	border-width: 2px;
	border-color: #006432;
	border-style: solid;
	text-align: left;
	padding: 10px;
	a:link{
	color: transparent;
	}
}
a:link{
	color: #006432;
}
a:visited{
	color: #006432;
}

/*----------*/

.hold{
    background: transparent;
    display: flex;
}
label{
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 20px 0em;
}
label input{
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.button{
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    border: 3px #006432 solid;
    border-radius: 10px;
	padding: 10px;
}
label:hover input ~ .button{
    background-color: #006432;
	color: #000000;
}
