@font-face {
    font-family: 'comforts';
    src: url(Helvetica.ttf);
}
body{
    font-family: 'comforts';
    font-size: 20px;
    margin: 20px;
    color: #404040;
    background-color: #f0f0f0;
}
div{
    width: fit-content;
}
span{
    display: flex;
    justify-content: left;
    align-content: center;
    align-items: center;
    gap: 20px;
}
li{
    margin-block: 5px;
}
img{
    width: 75px;
    height: 75px;
    border-radius: 10px;
    border: #404040 2px solid;
}
p{
    font-size: 35px;
}
a{
    text-decoration: none;
    color: blue;
    font-weight: lighter;
}
a:visited{
    color: blue;
}
#wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
}
ul{
    margin-inline-end: 100px;
}