@font-face {
    font-family: 'buttons';
    src: url(/website/comforts/Helvetica.ttf);
}
html{
    cursor: url(cursor.png), auto;
}
body{
    background-color: black;
}
.body{
    overflow: hidden;
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 10vh;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: start;
    justify-items: center;
}
.container{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: start;
    justify-items: center;
    gap: 5vh;
    overflow: auto;
}
img{
    width: auto;
    height: auto;
    border-radius: 5vh;
    border: white solid 5px;
    max-width: calc(100vw - 50px);
    max-height: calc(90vh - 50px);
    background-color: white;
}

/*Buttons*/
.buttons{
    position: absolute;
    top: 90vh;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    gap: 10px;
    border: white solid 5px;
}
button{
    font-weight: bold;
    font-family: 'buttons';
    font-size: 15px;
    color: white;
    background-color: black;
    border: white solid 5px;
    border-radius: 15px;
    padding: 8px;
    cursor: url(cursor-pointer.png), pointer;
}
button:hover{
    border-color: #ffc000;
    color: #ffc000;
}
button:active{
    background-color: #ffc000;
    color: black;
    border-color: #ffc000;
}

